---
import { Image } from "astro:assets"
import { IconBrandGithub } from "@tabler/icons-react"
import logoImage from "~/assets/images/webp/logo.webp"
import Section from "~/components/shared/sections/Section.astro"
import { allContent } from "~/content.config"

const content = allContent.find((c) => c.slug)
console.log(content)
---

<Section
  id="hero"
  className="relative min-h-screen flex flex-col justify-center items-center text-center text-px-6"
>
  <a
    href="https://github.com/RustLangES/rustlings-web"
    target="_blank"
    rel="noopener noreferrer"
    class="absolute top-4 right-6 text-secondary hover:text-yellow transition-transform duration-300 hover:scale-110"
    aria-label="Repositorio de RustLings en GitHub"
  >
    <IconBrandGithub />
  </a>

  <Image
    class="w-48 sm:w-56 md:w-64 logo mb-8"
    src={logoImage}
    alt="Rustlings logo"
    width={256}
    height={256}
    fetchpriority="high"
  />

  <div class="my-10">
    <h1 class="font-semibold text-4xl sm:text-5xl md:text-6xl mb-4">RustLings Web</h1>
    <h2 class="text-lg sm:text-xl opacity-90">Aprender Rust nunca fue tan fácil</h2>
  </div>

  <div class="flex flex-col sm:flex-row gap-4 mt-6">
    <a
      href={`/${content?.slug}`}
      class="px-8 py-2 border rounded-lg border-[var(--stroke-color)] hover:border-[var(--fg)] hover:-translate-y-1 hover:scale-105 cursor-pointer duration-300"
    >
      Aprender
    </a>
  </div>
</Section>

<style>
  .logo {
    -webkit-filter: drop-shadow(0 -6mm 100mm var(--color-yellow));
    filter: drop-shadow(0 -6mm 90mm var(--color-yellow));
  }
</style>
