---
import Section from "../../../components/shared/sections/Section.astro"
import Github from "../../../icons/Github.astro"
---

<Section
  id="hero"
  className="min-h-screen flex flex-col justify-center items-center text-center bg-[var(--bg)] text-[var(--fg)] px-6"
>
  <img class="w-48 sm:w-56 md:w-64 logo mb-8" src="/logo.svg" alt="rustlings" />

  <div class="my-10">
    <h1 class="font-semibold text-4xl sm:text-5xl md:text-6xl mb-4">RustLings Web</h1>
    <h3 class="text-lg sm:text-xl opacity-90">Aprender Rust nunca fue tan fácil</h3>
  </div>

  <div class="flex flex-col sm:flex-row gap-4 mt-6">
    <a
      href="/introduccion"
      class="px-8 py-2 border rounded-lg border-[var(--stroke-color)] hover:border-[var(--fg)] hover:-translate-y-1 hover:scale-105 cursor-pointer duration-300"
    >
      Aprender
    </a>
  </div>
</Section>

<style>
  .logo {
    -webkit-filter: drop-shadow(0 -6mm 100mm var(--yellow));
    filter: drop-shadow(0 -6mm 90mm var(--yellow));
  }
</style>
