@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import "tailwindcss";

body {
	font-family: var(--font-family);
	background-color: var(--bg);
	color: var(--fg);
}

@theme {
	--font-family: "Poppins", sans-serif;
	--color-bg: #191918;
	--color-fg: #fcfcfc;
	--color-light-bg: #272726;
	--color-editor-bg: #1a1b1a;
	--color-stroke-color: #4f4e48;
	--color-dark-yellow: #995614;
	--color-yellow: #ffd776;
	--color-dark-fg: #151515;
	--color-note-bg: #4795cc;
	--color-note-dark-bg: #205275;
	--color-bg-nav: #99561426;
}

:root {
	--bg: #191918;
	--fg: #fcfcfc;
	--light-bg: #272726;
	--editor-bg: #1a1b1a;
	--stroke-color: #4f4e48;
	--dark-yellow: #995614;
	--yellow: #ffd776;
	--dark-fg: #151515;
	--note-bg: #4795cc;
	--note-dark-bg: #205275;
	--bg-nav: #99561426;
}

#content-markdown {
	h1 {
		@apply py-2 text-2xl;
	}

	h2 {
		color: var(--yellow);
	}

	strong {
		color: var(--yellow);
	}

	ul {
		list-style-type: disc;
		padding-left: 1.5rem;

		li {
			margin-bottom: 0.5rem;
		}
	}
}
