---
interface Props {
	id?: string
	className?: string
	style?: string
}

const { id, className, style } = Astro.props as Props
---

<section id={id} class={className} style={style}>
  <slot />
</section>
