---
import { allContent } from "~/content.config"
import CodeEditor from "~/features/content/ui/CodeEditor.astro"
import Main from "~/features/content/ui/Main.astro"
import Markdown from "~/features/content/ui/Markdown.astro"
import SplitPanel from "~/features/content/ui/SplitPanel.astro"
import Navbar from "~/features/shared/ui/Navbar.astro"
import Layout from "~/layouts/Layout.astro"

export function getStaticPaths() {
	return allContent.map((tutorial) => {
		return {
			params: { slug: tutorial.slug },
			props: {
				tutorial,
				previous: tutorial.data.previousPath || null,
				next: tutorial.data.nextPath || null,
			},
		}
	})
}

let { tutorial, previous, next } = Astro.props
---

<Layout>
  <Main>
    <Navbar/>
    <SplitPanel>
      <Markdown slot="left" tutorial={tutorial} previous={previous} next={next}/>
      <CodeEditor slot="right"/>
    </SplitPanel>
  </Main>
</Layout>
