---
import { render } from "astro:content"
import { allContent } from "~/content.config"
import ReactMarkdownContainer from "~/features/content/react/ReactMarkdownContainer.tsx"
import ReactPanelContainer from "~/features/content/react/ReactPanelContainer.tsx"
import ReactPlayground from "~/features/content/react/ReactPlayground.tsx"
import Main from "~/features/content/ui/Main.astro"
import Navbar from "~/features/shared/ui/Navbar.astro"
import Layout from "~/layouts/Layout.astro"

export function getStaticPaths() {
	return allContent.map((tutorial) => {
		return {
			params: { slug: tutorial.slug },
			props: {
				tutorial,
				previous: tutorial.data.previousPath || null,
				next: tutorial.data.nextPath || null,
			},
		}
	})
}

const { tutorial, previous, next } = Astro.props
const { Content } = await render(tutorial)
---

<Layout>
  <Main>
    <Navbar/>
    <ReactPanelContainer direction="horizontal" defaultLayout={[50, 50]} client:only="react">
      <div
        slot="first"
        class="overflow-auto bg-dark-secondary h-full relative flex flex-col bg-light-bg border border-stroke-color ms-2 rounded-lg"
      >
        <ReactMarkdownContainer tutorial={'Probando Tutorial'}>
          <Content/>
        </ReactMarkdownContainer>
      </div>
      <div
        slot="second"
        class="h-full min-h-0 relative flex flex-col bg-light-bg border border-stroke-color me-2 rounded-lg"
      >
          <ReactPlayground client:load />
      </div>
    </ReactPanelContainer>
  </Main>
</Layout>
