---
import { Image } from "astro:assets"
import { IconBrandGithub, IconPlayerPlay } from "@tabler/icons-react"
import logoImage from "~/assets/images/webp/logo.webp"
import Sidebar from "~/components/shared/sidebar/Sidebar"
import { allContent } from "~/content.config"
import ToggleSidebarButton from "~/features/content/components/ToggleSidebarButton"

const sidebarItems = allContent.map((i) => ({
	label: i.slug || "",
	href: `/${i.slug}`,
}))
---

<header class="p-2 w-full">
  <nav
    class="relative z-50 flex items-center justify-between px-3 py-1 border border-[#4f4e48] backdrop-blur-md bg-bg-nav rounded-md shadow-lg"
  >
    <div class="flex items-center gap-4">
      <a href="/">
        <Image
          src={logoImage}
          alt="Rustlings Web"
          class="h-10 w-10 hover:scale-105 transition-transform duration-200"
        />
      </a>
      <ToggleSidebarButton client:load />
    </div>

    <button
      class="md:absolute md:left-1/2 md:-translate-x-1/2 ml-auto flex items-center gap-1.5 bg-neutral-500/40 px-2 py-1 rounded-md
    hover:bg-neutral-500/70 text-sm cursor-pointer"
    >
      <IconPlayerPlay size={18} /> Ejecutar
    </button>

    <Sidebar items={sidebarItems} title="Contenido" position="left" client:load />

    <figure
      class="hidden text-white md:flex gap-1 bg-editor-bg p-1 rounded-md border border-white/50 hover:scale-105 duration-300 justify-center items-center cursor-pointer"
    >
      <IconBrandGithub size={20} />
    </figure>
  </nav>
</header>
