---
import { IconBrandGithub } from "@tabler/icons-react"
import ToggleSidebarButton from "../../../features/content/components/ToggleSidebarButton"
import { content } from "../../../utils/lib/content.config"
import Sidebar from "../sidebar/Sidebar"

const logoSrc = "/logo.svg"

const sidebarItems = content
	.filter((item) => item.frontmatter?.slug && item.frontmatter?.title)
	.sort((a, b) => (a.frontmatter.order ?? 0) - (b.frontmatter.order ?? 0))
	.map((item) => ({
		label: item.frontmatter.title || "",
		href: `/content/${item.frontmatter.slug}`,
	}))
---

<header class="p-2 w-full">
  <nav
    class="flex items-center justify-between px-3 py-1 border border-[#4f4e48] backdrop-blur-md bg-bg-nav rounded-md shadow-lg"
  >
    <div class="flex items-center gap-4">
      <a href="/">
        <img
          src={logoSrc}
          alt="Rustlings Web"
          class="h-10 w-10 hover:scale-105 transition-transform duration-200"
        />
      </a>
      <ToggleSidebarButton client:load />
    </div>

    <Sidebar items={sidebarItems} title="Contenido" position="left" client:load />

    <figure
      class="text-white flex gap-1 bg-editor-bg p-1 rounded-md border border-white/50 hover:scale-105 duration-300 justify-center items-center"
    >
      <IconBrandGithub size={20} />
    </figure>
  </nav>
</header>
