---
import { useTranslations } from "~/i18n/utils"
import Layout from "~/layouts/Layout.astro"
import IconLeft from "~icons/tabler/arrow-big-left-lines-filled"

export const prerender = true

export function getStaticPaths() {
	return [{ params: { lang: "es" } }, { params: { lang: "en" } }]
}

const lang = Astro.params.lang as "es" | "en"
const t = useTranslations(lang)
---

<Layout title={t("404.title")}>
  <main class="flex-1 flex flex-col items-center justify-center px-4 gap-8">
    <img
      src="/404.png"
      alt={t("404.image_alt")}
      class="w-full max-w-lg h-auto select-none pointer-events-none"
    />
    <a
      href={`/${lang}/`}
      class="flex items-center gap-2 px-3 py-1.5 text-sm font-medium text-secondary/60 border border-transparent rounded-lg hover:border-yellow hover:text-yellow transition-all duration-300"
    >
      <IconLeft font-size={20} />
      {t("404.back_home")}
    </a>
  </main>
</Layout>
