---
import { IconCode, IconTerminal } from "@tabler/icons-react"
import ReactCodeEditor from "~/features/content/react/ReactCodeEditor.tsx"
---

<section
  class="overflow-auto bg-dark-secondary h-full relative flex flex-col bg-light-bg border border-stroke-color mx-2 rounded-lg"
>
  <div id="title-editor" class="absolute left-0 top-14 w-full hidden">
    <div class="relative">
      <IconCode stroke={2} size={16} className="rotate-90 absolute -top-9 left-4.5 text-yellow"/>
      <h2 class="text-[12px] font-bold text-center rotate-90">Editor</h2>
    </div>
  </div>

  <div id="bar-top" class="flex justify-between border-b border-stroke-color rounded-t-2xl p-2">
    <div class="flex gap-2">
      <IconCode stroke={2} size={16} className="ml-1 text-yellow"/>
      <h2 class="text-[13px] font-semibold text-center">Editor</h2>
    </div>
  </div>

  <div id="content-editor" class="flex flex-col flex-1 overflow-hidden">
    <ReactCodeEditor/>
    <div
      id="horizontal-resizer"
      class="h-2 transition-all flex justify-center items-center cursor-row-resize bg-[#181817]"
    >
      <div class="h-0.5 w-4 bg-neutral-500/40 rounded-md"></div>
    </div>

    <div
      id="terminal"
      class="h-40 overflow-auto border-t border-stroke-color rounded-b-2xl text-sm font-mono bg-dark-fg"
    >
      <div class="flex items-end gap-2 border-b border-stroke-color bg-light-bg px-3 h-8">
        <button
          class="flex items-center gap-2 px-3 py-1 rounded-t-sm text-fg font-medium shadow-inner hover:bg-neutral-600/90 transition-colors"
        >
          <IconTerminal size={18}/>
          <span>Terminal</span>
        </button>
      </div>

      <div class="flex items-start p-3 text-fg">
        <span class="text-yellow">$&nbsp;</span>
        <span class="text-fg">cargo run</span>
      </div>
    </div>
  </div>
</section>
