---
import { ClientRouter } from "astro:transitions"
import "~/styles/global.css"
import favicon from "~/assets/images/webp/favicon.webp"

const {
	title = "RustLings Web",
	description = "Aprende Rust mediante ejercicios interactivos y desafíos. ¡Todo explicado aquí!",
} = Astro.props
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>{title}</title>
    <link rel="icon" type="image/webp" href={favicon.src} />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <ClientRouter />
  </head>
  <body class="h-screen flex flex-col bg-primary text-secondary font-family-poppins">
    <slot />
  </body>
</html>
