---
import "~/styles/global.css"

const {
	title = "RustLings Web",
	description = "Aprende Rust a través de ejercicios interactivos y desafíos. Domina la programación en Rust con práctica práctica.",
} = Astro.props
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content={description} />
    <link rel="icon" type="image/svg+xml+webp" href="" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="bg-primary text-secondary font-family-poppins">
    <slot />
  </body>
</html>
